* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 125%;
}

body {
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  padding: 1.5rem;
  background-color: #f5f5f5;
}

/* title */

.title__box {
  display: inline-block;
  background-color: #3d6a7d;
  padding: 0.3rem;
  border-radius: 3px;
  margin-bottom: 5rem;
}

.title {
  color: #d3cec3;
}
/* button */

.button__box {
  max-width: 10rem;
  background-color: #3d6a7d;
  padding: 1rem;
  border-radius: 3px;
  margin: 0rem auto;
}

.btn {
  display: inline-block;
  padding: 0.5rem;
  text-transform: uppercase;
  border-radius: 1rem;
  border: none;
  background-color: #085dad;
  color: #d3cec3;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 0.5rem 0.5rem #000;
}

.btn:active {
  box-shadow: 0 0.3rem 0.3rem #000;
}

/* message-display */

.message-display__box {
  display: none;
  background-color: #3d6a7d;
  max-width: 20.75rem;
  padding: 0.5rem;
  margin: 5rem auto;
  border-radius: 0.3rem;
}

@media (max-width: 500px) {
  html {
    font-size: 90%;
  }
  .button__box {
    width: 100%;
  }
}
